<div class="menu-panel" ng-class="{'expanded-menu' : contactpage}" ng-show="contactpage"> 
              <h4 style="color:#03AEFF;font-weight:300;text-align:center;  position:absolute; top:0; left:0; right:0" class="padding-top">
              <button class="button button-calm button-clear"  
                    ng-click="openContact(false)" 
                    style="position: absolute; left: 0;  top: -4px; font-size: 28px;"><span class="ion-ios-arrow-back"></span></button>
                   Contact Us
                 
              </h4> 

              <div style="position: absolute; z-index: -1; top: 51px; border:1px solid #ddd; left: 0; right: 0; bottom: 0; padding: 15px; overflow-y:auto;">
                    



                </div>
        
</div>