<div class="menu-panel" ng-class="{'expanded-menu' : watchdogInfo}" ng-show="watchdogInfo"> 
              <h4 style="color:#03AEFF;font-weight:300;text-align:center;  position:absolute; top:0; left:0; right:0" class="padding-top">
              <button class="button button-calm button-clear"  
                    ng-click="vehicleInformation(false)" 
                    style="position: absolute; left: 0px;  top: -4px; font-size: 28px;"><span class="ion-ios-arrow-back"></span></button> 
              
                    Vehicle Information
                 
              </h4> 

              <div style="position: absolute; z-index: -1; top: 51px; border:1px solid #ddd; left: 0; right: 0; bottom: 0; padding: 15px; overflow-y:auto;">
                   

      <div id="information-container5">
      <ion-list id="information-list2">
        <div class="item item-body" id="information-list-item-container3">
          <div id="information-markdown4" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Live Location</strong>
              - Sample text adrress.Sample text adrress.Sample text adrress.Sample text adrress.</p>
          </div>
        </div>
        <div class="item item-body" id="information-list-item-container4">
          <div id="information-markdown5" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Live Speed</strong>
              - 0000.00KmPH.</p>
          </div>
        </div>
        <div class="item item-body" id="information-list-item-container5">
          <div id="information-markdown6" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Vehicle Reg. No. </strong>
              - 000000000000.</p>
          </div>
        </div>
        <div class="item item-body" id="information-list-item-container6">
          <div id="information-markdown7" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Vehicle Reg. No. </strong>
              - 000000000000.</p>
          </div>
        </div>
      </ion-list>
    </div>






                </div>
        
    </div>
<!---
    <div id="information-container5" ng-if="information">
      <ion-list id="information-list2">
        <div class="item item-body" id="information-list-item-container3">
          <div id="information-markdown4" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Live Location</strong>
              - Sample text adrress.Sample text adrress.Sample text adrress.Sample text adrress.</p>
          </div>
        </div>
        <div class="item item-body" id="information-list-item-container4">
          <div id="information-markdown5" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Live Speed</strong>
              - 0000.00KmPH.</p>
          </div>
        </div>
        <div class="item item-body" id="information-list-item-container5">
          <div id="information-markdown6" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Vehicle Reg. No. </strong>
              - 000000000000.</p>
          </div>
        </div>
        <div class="item item-body" id="information-list-item-container6">
          <div id="information-markdown7" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Vehicle Reg. No. </strong>
              - 000000000000.</p>
          </div>
        </div>
      </ion-list>
    </div>
    --->